<footer>
	<span class="copyright">&copy; Copyright 2014 hacker.io</span>
	<span class="footer_nav">
		<ul>
			<li><%= link_to 'About', '#' %> |</li> 
			<li><%= link_to 'Team', '#' %> |</li>
			<li><%= link_to 'Careers', '#' %></li>
		</ul>
	</span>
	<span class="social_media">

	</span>
</footer>